.menu-title {
    background-color: rgba(0, 0, 0, 0);
    font-size: 53px;
    -unity-text-align: upper-center;
    margin-right: -15px;
    margin-bottom: -5px;
    margin-left: 17px;
    margin-top: 104px;
    -unity-font: url('project://database/Assets/TextMesh%20Pro/Fonts/the-wild-breath-of-zelda/The%20Wild%20Breath%20of%20Zelda.otf?fileID=12800000&guid=50d1404e034574ad59e39edfea22af2f&type=3#The Wild Breath of Zelda');
    -unity-font-style: normal;
    -unity-font-definition: initial;
    top: -7px;
    right: 19px;
}

.menu-Z {
    font-size: 101px;
    margin-left: 234px;
    margin-top: -43px;
    color: rgb(27, 27, 27);
    -unity-font: url('project://database/Assets/TextMesh%20Pro/Fonts/the-wild-breath-of-zelda/The%20Wild%20Breath%20of%20Zelda.otf?fileID=12800000&guid=50d1404e034574ad59e39edfea22af2f&type=3#The Wild Breath of Zelda');
    -unity-font-definition: initial;
    left: 14px;
}

.menu-ELDA {
    margin-top: -103px;
    font-size: 65px;
    margin-right: -36px;
    -unity-text-align: upper-left;
    -unity-font-style: normal;
    -unity-font-definition: initial;
    -unity-font: url('project://database/Assets/TextMesh%20Pro/Fonts/the-wild-breath-of-zelda/The%20Wild%20Breath%20of%20Zelda.otf?fileID=12800000&guid=50d1404e034574ad59e39edfea22af2f&type=3#The Wild Breath of Zelda');
    right: 9px;
    top: 19px;
}

.menu-tears {
    margin-top: -25px;
    margin-left: 258px;
    font-size: 23px;
    padding-top: 18px;
    margin-right: -3px;
    padding-left: 35px;
    -unity-font-definition: initial;
    -unity-font: url('project://database/Assets/TextMesh%20Pro/Fonts/the-wild-breath-of-zelda/The%20Wild%20Breath%20of%20Zelda.otf?fileID=12800000&guid=50d1404e034574ad59e39edfea22af2f&type=3#The Wild Breath of Zelda');
    top: 23px;
    left: 2px;
}

.menu-ofthe {
    padding-right: 0;
    padding-left: 334px;
    margin-top: -41px;
    font-size: 9px;
    padding-top: 10px;
    margin-left: 40px;
    -unity-font-definition: initial;
    -unity-font: url('project://database/Assets/TextMesh%20Pro/Fonts/the-wild-breath-of-zelda/The%20Wild%20Breath%20of%20Zelda.otf?fileID=12800000&guid=50d1404e034574ad59e39edfea22af2f&type=3#The Wild Breath of Zelda');
    top: 26px;
    left: -9px;
}

.menu-kingdom {
    margin-left: 369px;
    margin-top: -48px;
    font-size: 23px;
    padding-top: 6px;
    padding-left: 32px;
    -unity-font-style: normal;
    -unity-font-definition: initial;
    -unity-font: url('project://database/Assets/TextMesh%20Pro/Fonts/the-wild-breath-of-zelda/The%20Wild%20Breath%20of%20Zelda.otf?fileID=12800000&guid=50d1404e034574ad59e39edfea22af2f&type=3#The Wild Breath of Zelda');
    top: 30px;
    left: -9px;
}

.setting-options {
    margin-left: 518px;
    left: -186px;
    top: 37px;
    color: rgb(255, 255, 255);
    transition-duration: 0s;
    margin-top: -26px;
    margin-bottom: -5px;
    opacity: 1;
    background-color: rgb(207, 149, 0);
    -unity-font-style: italic;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    font-size: 12px;
}

.setting-options:hover {
    border-left-color: rgba(0, 250, 15, 0);
    border-right-color: rgba(0, 250, 15, 0);
    border-top-color: rgba(0, 250, 15, 0);
    border-bottom-color: rgba(0, 250, 15, 0);
}

.start-menu {
    -unity-background-image-tint-color: rgb(197, 197, 197);
    background-color: rgba(255, 255, 255, 0);
    translate: 0 40px;
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    margin-right: 264px;
    margin-left: 264px;
    color: rgba(106, 202, 169, 0.57);
    -unity-font-style: italic;
    left: -8px;
}

.start-menu:hover {
    color: rgb(0, 255, 161);
    transition-duration: 1s;
    -unity-font-style: italic;
}

.close-menu {
    display: none;
}

.open-settings {
    opacity: 1;
    left: auto;
    display: flex;
    right: auto;
    position: relative;
    translate: -680px 0;
    transition-duration: 0.7s;
    margin-top: 0;
}

.enabled {
    opacity: 1;
    color: rgb(0, 0, 0);
}

.settings-label {
    color: rgb(255, 255, 255);
    font-size: 12px;
}
